@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Source+Serif+4:wght@400;600&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Source+Serif+4:wght@400;600&family=Source+Serif+Pro&display=swap');


.component-header {
  padding: 15px;
  position: relative;
  font-weight: normal;
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  text-align: center;
  color: #333;
}

.component-header img {
  position: relative;
  top: 6px;
  padding: 0 14px;
  font-family: 'Libre Baskerville', serif;
}
